@inherits LayoutComponentBase

<div class="d-flex">
    <img src="~/logo.png" />

    <div class="sidebar bg-light p-3" style="min-width: 200px; min-height: 100vh;">
        <NavMenu />
    </div>

    <div class="main flex-grow-1" style="min-height: 100vh;">
        <div class="content px-4 py-4">
            @Body
        </div>
    </div>
</div>

<style>
    .sidebar {
        border-right: 1px solid #ddd;
    }

    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .dropdown-menu .inner.show{
        max-height: 33vh;
        overflow-y: auto;
    }
</style>
