<aside class="menu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="">
                Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="live">
                Live
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="videos">
                Videos
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="tabs">
                DeoVr Tabs
            </NavLink>
        </li>
        <!-- Füge hier zusätzliche Menüpunkte hinzu -->
    </ul>
</aside>

@code {
    // Hier kannst du, falls nötig, Backend-Logik hinzufügen
}
