@inherits LayoutComponentBase

<div class="d-flex">

    <div class="sidebar sidebar-custom">

        <img class="logo mb-4" src="logo.png" />

        <NavMenu />

        <a class="version" href="https://github.com/schwordd/deovrScraper" target="_blank"><span>@Program.GetVersion()</span></a>
    </div>

    <div class="main main-custom flex-grow-1">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

