@inherits LayoutComponentBase

<div class="d-flex">

    <div class="sidebar bg-light p-3" style="min-width: 200px; min-height: 100vh; display: flex;    flex-direction: column;    align-items: center;">

        <img class="logo mb-4" src="logo.png" />

        <NavMenu />

        <a class="version" href="https://github.com/schwordd/deovrScraper" target="_blank"><span>@Program.GetVersion()</span></a>
    </div>

    <div class="main flex-grow-1" style="height: 100vh; overflow:hidden;">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

