.sidebar {
    border-right: 1px solid #ddd;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    margin-top: 16px;
}

.logo {
    max-width: 128px;
}

.content {
    overflow-y: auto;
    padding-top: 20px;
}

.version {
    position: absolute;
    bottom: 8px;
    font-size: 16px;
    opacity: 0.2;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}