<aside class="menu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="nav-icon fas fa-home"></i>
                <span class="nav-text">Home</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="live">
                <i class="nav-icon fas fa-broadcast-tower"></i>
                <span class="nav-text">Live</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="videos">
                <i class="nav-icon fas fa-video"></i>
                <span class="nav-text">Videos</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="tabs">
                <i class="nav-icon fas fa-vr-cardboard"></i>
                <span class="nav-text">VR Tabs</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="settings">
                <i class="nav-icon fas fa-cog"></i>
                <span class="nav-text">Settings</span>
            </NavLink>
        </li>
    </ul>
</aside>

@code {
    // Hier kannst du, falls nötig, Backend-Logik hinzufügen
}
