@using Microsoft.AspNetCore.Components.Routing

<nav class="nav-menu">
    <ul class="nav-list">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="HandleNavigation">
                <i class="nav-icon icon-house"></i>
                <span class="nav-text">Home</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="live" @onclick="HandleNavigation">
                <i class="nav-icon icon-radio"></i>
                <span class="nav-text">Live</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="videos" @onclick="HandleNavigation">
                <i class="nav-icon icon-film"></i>
                <span class="nav-text">Videos</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="enrichment" @onclick="HandleNavigation">
                <i class="nav-icon icon-wand-sparkles"></i>
                <span class="nav-text">Enrichment</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="tabs" @onclick="HandleNavigation">
                <i class="nav-icon icon-layout-list"></i>
                <span class="nav-text">VR Tabs</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="settings" @onclick="HandleNavigation">
                <i class="nav-icon icon-settings"></i>
                <span class="nav-text">Settings</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="graph" @onclick="HandleNavigation">
                <i class="nav-icon icon-git-fork"></i>
                <span class="nav-text">Graph</span>
                <span class="nav-badge">ALPHA</span>
            </NavLink>
        </li>
    </ul>
    <div class="nav-logout">
        <a class="nav-link" href="api/auth/logout" @onclick="HandleNavigation">
            <i class="nav-icon icon-log-out"></i>
            <span class="nav-text">Logout</span>
        </a>
    </div>
</nav>

@code {
    [Parameter] public EventCallback OnNavigated { get; set; }

    private async Task HandleNavigation()
    {
        await OnNavigated.InvokeAsync();
    }
}
