@page "/"

@using deovrScraper.Components
@using deovrScraper.DB.Models
@using deovrScraper.Services
@inject IEpornerScraper Scraper

<h3>Home</h3>


<div class="mt-3">
    <ScrapingTools />
</div>

<div class="mt-3">
    <TagOverview />
</div>

<div class="mt-3">
    <ActorOverview />
</div>
