@using Microsoft.AspNetCore.Components

<div class="item-container">
    @if (Items != null)
    {
        @foreach (var item in Items)
        {
            <span class="@PillClass">
                @item.Name <span class="item-count">@item.Count</span>
            </span>
        }
    }
</div>

@code {
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public List<(string Name, long Count)> Items { get; set; } = new();
    [Parameter] public string BadgeColor { get; set; } = "#007bff";
    [Parameter] public string PillClass { get; set; } = "item-pill";
}
