@using deovrScraper.DB.Models
@using deovrScraper.Services
@inject IVideoService Videos

<h4>
    Actresses
    <span class="badge rounded-pill text-bg-light">@starInfos.Count</span>

</h4>
@if (starInfos != null)
{
    <div class="star-container">
        @foreach (var starInfo in starInfos)
        {
            <button type="button" class="btn btn-primary star-pill">
                @starInfo.Star.Name <span class="badge text-bg-secondary">@starInfo.Count</span>
            </button>
        }
    </div>
}
else
{
    <p>Loading...</p>
}

@code {
    private List<(DbStar Star, long Count)> starInfos = new List<(DbStar Star, long Count)>();

    protected override async Task OnInitializedAsync()
    {
        await LoadActorInfos();
    }

    private async Task LoadActorInfos()
    {
        starInfos = await Videos.GetActorInfos();
    }
}

<style>
    .star-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .star-pill {
        background-color: #ff7bff;
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        display: inline-block;
        white-space: nowrap;
    }
</style>
