@page "/"

@using vrScraper.Components
@using vrScraper.DB.Models
@using vrScraper.Services
@inject IEpornerScraper Scraper

<h3>Home</h3>

<div class="row">
    <div class="col-12">
        <div class="card mb-3">
            <div class="card-body">
                <ScrapingTools />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <TagOverview />
    </div>
    <div class="col-md-6">
        <ActorOverview />
    </div>
</div>
